  .flex-container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
  }

  .flex-item {
    width: 300px;
  }

  .item-1 {
    align-self: stretch;
  }

  .item-2 {
    align-self: flex-start;
  }

  .item-3 {
    align-self: center;
  }

  .item-4 {
    align-self: flex-end;
  }

  .item-5 {
    align-self: baseline;
  }

  .item-6 {
    align-self: baseline;
    font-size: 100px;
  }