  .flex-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }

  .flex-item {
    flex: 1;
  }

  @media screen and (max-width: 650px) {
    .flex-container {
        flex-direction: column;
    }
  }