  .flex-container {
    display: flex;
    height: 100vh;
  }

  .flex-item {
    flex: 1;
  }

  @media screen and (max-width: 650px) {
    .flex-container {
        flex-direction: column;
    }

    .item-2 {
        order: -1;
    }
  }