@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
background-color: #f1f1f1;
color: #0f141e;
font-size: 16px;
font-weight: normal;
font-family: 'Roboto', sans-serif;
/* font: normal 16px 'Roboto', sans-serif; */
/* font-family: Cambria, Cochin, Georgia, Times,
'Times New Roman', serif */
}
a {
color: #0f141e;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:active {
color: rgb(0, 42, 255);
}
a:visited {
color: rgb(86, 18, 20);
}
 
